<footer class="bg-[#07041B] text-white">
  <div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-1 sm:grid-cols-4 gap-4">

    <!-- Logo -->
    <div class="md:mb-0 flex justify-center md:justify-start">
      <a href="#">
        <img
          src="https://minioapi.iotechsoft.com/api/v1/uploads/jele/logo.png?path=assest"
          class="h-32 md:h-40 w-auto"
          alt="Logo"
        />
      </a>
    </div>

    <!-- Pages -->
    <div>
      <h4 class="text-sm md:text-base lg:text-lg font-semibold mt-2 md:mt-16 mb-2">Pages</h4>
      <ul class="space-y-1 text-sm md:text-base lg:text-lg text-white/80 break-words">
        <li><a href="#" class="hover:underline">Home</a></li>
        <li><a href="#" class="hover:underline">Portfolio</a></li>
        <li><a href="#" class="hover:underline">About us</a></li>
        <li><a href="#" class="hover:underline">Contact us</a></li>
        <li><a href="#" class="hover:underline">Help</a></li>
      </ul>
    </div>

    <!-- Services -->
    <div>
      <h4 class="text-sm md:text-base lg:text-lg font-semibold mt-2 md:mt-16 mb-2">Services</h4>
      <ul class="space-y-1 text-sm md:text-base lg:text-lg text-white/80 break-words">
        <li><a href="#" class="hover:underline">Documentation</a></li>
        <li><a href="#" class="hover:underline">Feedback</a></li>
        <li><a href="#" class="hover:underline">Community</a></li>
        <li><a href="#" class="hover:underline">Team of services</a></li>
      </ul>
    </div>

    <!-- Contact Us -->
    <div>
      <h4 class="text-sm md:text-base lg:text-lg font-semibold mt-2 md:mt-16 mb-2">Contact Us</h4>
      <ul class="space-y-1 text-sm md:text-base lg:text-lg text-white/80 break-all">
        <li><a href="#" class="hover:underline">Contact an admin</a></li>
        <li><a href="#" class="hover:underline">Get help</a></li>
        <li><a href="#" class="hover:underline">devdungeon277&#64;gmail.com</a></li>
      </ul>
    </div>
  </div>

  <!-- Copyright -->
  <div class="border-t border-gray-600 mt-6 py-4">
    <div class="max-w-7xl mx-auto px-4 text-center">
      <p class="text-xs text-gray-400">
        Proudly powered by RMUTL | ©2024–2025
      </p>
    </div>
  </div>
</footer>
