<footer class="bg-[#07041B]">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="" class="flex items-center">
          <img
            src="https://minioapi.iotechsoft.com/api/v1/uploads/jele/logo.png?path=assest"
            class="h-40 w-auto me-3"
            alt=""
          />
        </a>
      </div>
      <!-- เมนู Pages -->
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="pt-10 mb-6 text-lg font-semibold text-white">Pages</h2>
          <ul class="text-gray-500 font-medium text-sm leading-relaxed">
            <li><a href="#" class="hover:underline">Home</a></li>
            <li><a href="#" class="hover:underline">Portfolio</a></li>
            <li><a href="#" class="hover:underline">About us</a></li>
            <li><a href="#" class="hover:underline">Contact us</a></li>
            <li><a href="#" class="hover:underline">Help</a></li>
          </ul>
        </div>
        <!-- เมนู Services -->
        <div>
          <h2 class="pt-10 mb-6 text-lg font-semibold mb-4 text-white">
            Services
          </h2>
          <ul class="text-gray-500 font-medium text-sm leading-relaxed">
            <li><a href="#" class="hover:underline">Documentation</a></li>
            <li><a href="#" class="hover:underline">Feedback</a></li>
            <li><a href="#" class="hover:underline">Community</a></li>
            <li><a href="#" class="hover:underline">Team of services</a></li>
          </ul>
        </div>
        <!-- เมนู Contact Us -->
        <div>
          <h2 class="pt-10 mb-6 text-lg font-semibold mb-4 text-white">Contact Us</h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li><a href="#" class="hover:underline">Contact an admin</a></li>
            <li><a href="#" class="hover:underline">Get help</a></li>
            <li>
              <a href="#" class="hover:underline">devdungeon277ddgmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >Proudly powered by RMUTL | ©2024-2025
      </span>
    </div>
  </div>
</footer>


