<div class="bg-login-regis-forgot-otp">
  <!-- Wave Background SVG -->
  <svg
    class="wave-bg-svg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <defs>
      <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="1">
        <stop offset="0%" stop-color="#FEE0DA" />
        <stop offset="100%" stop-color="#FFFFFF" />
      </linearGradient>
    </defs>
    <path
      fill="url(#gradient)"
      fill-opacity="1"
      d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>

  <!-- Logo -->
  <div class="logo-bottom-left">
    <img
      src="https://minioapi.iotechsoft.com/api/v1/uploads/jele/logo-text-black.png?path=assest"
      alt="aji"
    />
  </div>
  <!-- Form Container (Card) -->
  <div
    class="flex flex-col items-center justify-center min-h-screen px-6 py-10 z-10 relative"
  >
    <div class="p-6 bg-white rounded-3xl w-full max-w-2xl shadow-xl">
      <div class="mb-7">
        <!-- Logo and Header -->
        <div class="flex flex-col items-center">
          <img
            src="https://minioapi.iotechsoft.com/api/v1/uploads/jele/logo-text-black.png?path=assest"
            alt="aji"
            class="w-50 h-30 mb-2"
          />
          <div class="font-bold text-xl mb-2">Verify OTP</div>
          <p class="text-muted-color text-center block mb-8">
            Enter the 6-digit code sent to your email.
          </p>
          <p-inputotp
            [(ngModel)]="otp"
            [length]="6"
            inputClass="custom-otp-input"
          >
            <ng-template #input let-token let-events="events" let-index="index">
              <input
                type="text"
                [maxLength]="1"
                (input)="events.input($event)"
                (keydown)="events.keydown($event)"
                [attr.value]="token"
                class="custom-otp-input"
              />
            </ng-template>
          </p-inputotp>
          <div class="flex justify-between mt-8 self-stretch">
            <p-button label="Resend Code" [link]="true" class="p-0" />
            <p-button label="Submit Code" />
          </div>
          <div class="mt-10 text-center text-gray-400 text-xs">
           <span> Copyright © 2025 UPORT. Empowering Future Developers. </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
