<div class="pt-[100px] bg-[#FFFFFF]">
  <div class="text-[44px] text-[#000000] font-bold pb-[135px] text-center">
    All Profile example
  </div>
  <div class="pb-[135px]">
    <div class="grid grid-cols-4 gap-[81px] px-[54px]">
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
    </div>
    <div class="grid grid-cols-4 gap-[81px] px-[54px] pt-[70px]">
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
    </div>
    <div class="grid grid-cols-4 gap-[81px] px-[54px] pt-[70px]">
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
      <div>
        <img
          src="/images/port1forport.png"
          alt=""
          class="w-[271px] h-[318px]"
        />
      </div>
    </div>
  </div>
</div>
