<div
  class="w-full min-h-screen bg-gradient-to-br from-white via-white to-white relative overflow-hidden"
>
  <div
    class="absolute bottom-0 right-0 w-48 h-48 sm:w-60 sm:h-60 lg:w-72 lg:h-72 bg-pink-200 rounded-full blur-3xl opacity-60 z-0"
  ></div>
  <div class="pt-[100px] flex justify-center items-center">
    <div class="text-[44px] text-[#000000] font-bold">category</div>
  </div>
  <div class="pt-[60px]">
    <div class="grid grid-cols-3 gap-[61px] mx-[189px]">
      <div class="border-1 border-[#E5EBFF] px-[40px] pt-[28px] rounded-2xl">
        <img
          src="/images/10.png"
          alt=""
          class="w-[243px] h-[135px] pb-[14px]"
        />
        <div class="text-[#000000] text-center text-[22px] pb-[6px]">
          Fontend developer
        </div>
      </div>
      <div class="border-1 border-[#E5EBFF] px-[40px] pt-[28px] rounded-2xl">
        <img
          src="/images/10.png"
          alt=""
          class="w-[243px] h-[135px] pb-[14px]"
        />
        <div class="text-[#000000] text-center text-[22px] pb-[6px]">
          Fontend developer
        </div>
      </div>
      <div class="border-1 border-[#E5EBFF] px-[40px] pt-[28px] rounded-2xl">
        <img
          src="/images/10.png"
          alt=""
          class="w-[243px] h-[135px] pb-[14px]"
        />
        <div class="text-[#000000] text-center text-[22px] pb-[6px]">
          Fontend developer
        </div>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-[61px] mx-[189px] pt-[60px]">
      <div class="border-1 border-[#E5EBFF] px-[40px] pt-[28px] rounded-2xl">
        <img
          src="/images/10.png"
          alt=""
          class="w-[243px] h-[135px] pb-[14px]"
        />
        <div class="text-[#000000] text-center text-[22px] pb-[6px]">
          Fontend developer
        </div>
      </div>
      <div class="border-1 border-[#E5EBFF] px-[40px] pt-[28px] rounded-2xl">
        <img
          src="/images/10.png"
          alt=""
          class="w-[243px] h-[135px] pb-[14px]"
        />
        <div class="text-[#000000] text-center text-[22px] pb-[6px]">
          Fontend developer
        </div>
      </div>
      <div class="border-1 border-[#E5EBFF] px-[40px] pt-[28px] rounded-2xl">
        <img
          src="/images/10.png"
          alt=""
          class="w-[243px] h-[135px] pb-[14px]"
        />
        <div class="text-[#000000] text-center text-[22px] pb-[6px]">
          Fontend developer
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-2 gap-[61px] mx-[378px] pt-[60px] flex justify-center items-center mb-[67px]"
    >
      <div class="border-1 border-[#E5EBFF] px-[40px] pt-[28px] rounded-2xl">
        <img
          src="/images/10.png"
          alt=""
          class="w-[243px] h-[135px] pb-[14px]"
        />
        <div class="text-[#000000] text-center text-[22px] pb-[6px]">
          Fontend developer
        </div>
      </div>
      <div class="border-1 border-[#E5EBFF] px-[40px] pt-[28px] rounded-2xl">
        <img
          src="/images/10.png"
          alt=""
          class="w-[243px] h-[135px] pb-[14px]"
        />
        <div class="text-[#000000] text-center text-[22px] pb-[6px]">
          Fontend developer
        </div>
      </div>
    </div>
  </div>
</div>
