
<div
  class="bg-[#ffffff] pt-[85px] w-full min-h-screen px-4 md:px-[126px] pb-[85px]"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-[33px]">
    <div
      class="text-[32px] md:text-[44px] text-[#000000] font-bold w-full md:w-[575px]"
    >
      Featured of Projects
    </div>
    <div>
      <div
        class="text-[#6C6C6C] text-[14px] md:text-[16px] w-full md:w-[575px] break-words mb-[26px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div>
        <button
          class="text-[#ffffff] text-[14px] md:text-[16px] bg-[#3F23E5] rounded-[80px] w-full max-w-[231px] h-[62px]"
        >
          View all Portfolio
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-[33px] mt-[46px]">
    <img
      src="/images/port1.png"
      alt="Left"
      class="w-full md:w-[460px] h-[300px] md:h-[540px] object-cover"
    />

    <div class="flex flex-col">
      <div class="flex flex-col md:flex-row gap-[28px]">
        <img
          src="/images/port2.png"
          alt="Top Right 1"
          class="w-full md:w-[330px] h-[150px] md:h-[256px] object-cover"
        />
        <img
          src="/images/port3.png"
          alt="Top Right 2"
          class="w-full md:w-[330px] h-[150px] md:h-[256px] object-cover"
        />
      </div>

      <img
        src="/images/port4.png"
        alt="Bottom Right"
        class="w-full md:w-[688px] h-[150px] md:h-[256px] object-cover mt-[28px]"
      />
    </div>
  </div>
</div>
